In [1]:
import akshare as ak
# import common_mysql as common
# import common_pg as common
import sys
sys.path.append('/Users/afirez/studio/python/auto-trade/examples/py_quant/common')
sys.path.append('/Users/afirez/studio/python/auto-trade/examples/py_quant/common/common_pg.py')

print("sys.path:",sys.path)

# import common.common_pg as common_db

import common_pg as common_db

print(ak.__version__)

sys.path: ['/Users/afirez/studio/python/auto-trade/examples/py_quant/datasource/akshare/test', '/usr/local/anaconda3/envs/py38/lib/python38.zip', '/usr/local/anaconda3/envs/py38/lib/python3.8', '/usr/local/anaconda3/envs/py38/lib/python3.8/lib-dynload', '', '/usr/local/anaconda3/envs/py38/lib/python3.8/site-packages', '/usr/local/anaconda3/envs/py38/lib/python3.8/site-packages/IPython/extensions', '/Users/afirez/.ipython', '/Users/afirez/.local/lib/python3.8/site-packages', '/Users/afirez/studio/python/auto-trade/examples/py_quant/common', '/Users/afirez/studio/python/auto-trade/examples/py_quant/common/common_pg.py']
pg_host : 192.168.31.110 ,pg_user : postgres ,pg_db : k_house
1.6.64

In [2]:
stock_zh_a_daily_qfq_df = ak.stock_zh_a_daily(symbol="sz002594", start_date="20200101", end_date="20210101", adjust="")
print(stock_zh_a_daily_qfq_df)

          date    open    high     low   close      volume  outstanding_share  \
0   2020-01-02   47.69   48.47   47.51   48.17  15934570.0       1.141626e+09
1   2020-01-03   48.20   48.99   47.68   48.04  12993607.0       1.141626e+09
2   2020-01-06   47.39   49.19   47.19   48.28  16987138.0       1.141626e+09
3   2020-01-07   48.31   48.50   47.77   48.05   9340058.0       1.141626e+09
4   2020-01-08   47.55   48.35   47.15   47.28  11097445.0       1.141626e+09
..         ...     ...     ...     ...     ...         ...                ...
238 2020-12-25  183.32  186.15  181.10  185.22  21133069.0       1.145668e+09
239 2020-12-28  184.30  190.37  182.60  187.93  30338431.0       1.145668e+09
240 2020-12-29  186.00  186.00  178.46  178.60  36117782.0       1.145668e+09
241 2020-12-30  180.66  191.95  180.66  186.00  51043108.0       1.145668e+09
242 2020-12-31  188.86  195.83  184.26  194.30  50511942.0       1.145993e+09

     turnover
0    0.013958
1    0.011382
2    0.014880
3    0.008181
4    0.009721
..        ...
238  0.018446
239  0.026481
240  0.031526
241  0.044553
242  0.044077

[243 rows x 8 columns]

In [3]:
# 历史行情数据
# 日频率
# 接口: stock_zh_a_daily
# 目标地址: https://finance.sina.com.cn/realstock/company/sh600006/nc.shtml(示例)
# 描述: A 股数据是从新浪财经获取的数据, 历史数据按日频率更新; 注意其中的 sh689009 为 CDR, 请 通过 stock_zh_a_cdr_daily 接口获取
# 限量: 单次返回指定 A 股上市公司指定日期间的历史行情日频率数据
# adjust=""; 默认为空: 返回不复权的数据; qfq: 返回前复权后的数据; hfq: 返回后复权后的数据;
symbol="sz002594"

stock_zh_a_daily_qfq_df = ak.stock_zh_a_daily(symbol=symbol, adjust="")
print(stock_zh_a_daily_qfq_df)

           date    open    high     low   close      volume  \
0    2011-06-30   22.00   26.19   22.00   25.45  56292536.0
1    2011-07-01   25.77   28.00   25.00   28.00  33561280.0
2    2011-07-04   28.88   30.80   28.58   30.80  21964592.0
3    2011-07-05   32.78   33.88   31.89   33.05  38108084.0
4    2011-07-06   32.80   35.55   32.11   33.40  31296720.0
...         ...     ...     ...     ...     ...         ...
2673 2022-07-18  345.00  346.00  328.00  337.10  23891156.0
2674 2022-07-19  337.10  337.10  327.62  331.10  15818025.0
2675 2022-07-20  332.98  333.86  329.08  331.70  10326348.0
2676 2022-07-21  329.00  331.00  322.94  324.50  13200328.0
2677 2022-07-22  326.01  334.66  326.00  329.62  14177374.0

      outstanding_share  turnover
0          6.400000e+07  0.879571
1          6.400000e+07  0.524395
2          6.400000e+07  0.343197
3          6.400000e+07  0.595439
4          6.400000e+07  0.489011
...                 ...       ...
2673       1.164765e+09  0.020512
2674       1.164765e+09  0.013580
2675       1.164765e+09  0.008866
2676       1.164765e+09  0.011333
2677       1.164765e+09  0.012172

[2678 rows x 8 columns]

In [ ]:
# common_db.insert_db(stock_zh_a_daily_qfq_df, "stock_zh_a_daily", True, "`symbol`")

In [4]:
# 0. 准备工作

dbname = "k_house"
#   0.1 创建数据库连接

#  创建数据库 股票分析数据库 的连接 
# conn, curs, engine = common_db.creat_conn_with_pg(dbname=f'{dbname}_for_test')

#  创建数据库 k_house 的连接 
conn2, curs2, engine2 = common_db.creat_conn_with_pg(dbname=dbname)

In [5]:
import pandas as pd

In [6]:
table_name = 'stock_zh_a_daily_test'

stock_zh_a_daily_qfq_df.to_sql(table_name,
          engine2,
          index     = False,
          if_exists = 'replace')    # 写入数据库  还有一个参数是  append，那是附加在表后

# 添加索引
# curs2.execute("""CREATE  INDEX parallel_tool_1      ON  parallel_tool_并行任务分配信息表  (交易日期); 
#                 CREATE  INDEX parallel_tool_2      ON  parallel_tool_并行任务分配信息表  (分组序号);
#                 CREATE  INDEX parallel_tool_3      ON  parallel_tool_并行任务分配信息表  (处理状态);"""
#             )
# conn2.commit()

symbol

'sz002594'

In [7]:
df = pd.read_sql_query(f"""
    SELECT *
    FROM  {table_name}
  """,
   # params = (date,),
  con = engine2,
)

df.head()

,date,open,high,low,close,volume,outstanding_share,turnover
0,2011-06-30,22.00,26.19,22.00,25.45,56292536.0,64000000.0,0.879571
1,2011-07-01,25.77,28.00,25.00,28.00,33561280.0,64000000.0,0.524395
2,2011-07-04,28.88,30.80,28.58,30.80,21964592.0,64000000.0,0.343197
3,2011-07-05,32.78,33.88,31.89,33.05,38108084.0,64000000.0,0.595439
4,2011-07-06,32.80,35.55,32.11,33.40,31296720.0,64000000.0,0.489011

In [8]:
df[:-5]

,date,open,high,low,close,volume,outstanding_share,turnover
0,2011-06-30,22.00,26.19,22.00,25.45,56292536.0,6.400000e+07,0.879571
1,2011-07-01,25.77,28.00,25.00,28.00,33561280.0,6.400000e+07,0.524395
2,2011-07-04,28.88,30.80,28.58,30.80,21964592.0,6.400000e+07,0.343197
3,2011-07-05,32.78,33.88,31.89,33.05,38108084.0,6.400000e+07,0.595439
4,2011-07-06,32.80,35.55,32.11,33.40,31296720.0,6.400000e+07,0.489011
...,...,...,...,...,...,...,...,...
2668,2022-07-11,335.88,335.88,318.88,324.30,25431744.0,1.164765e+09,0.021834
2669,2022-07-12,320.00,321.00,300.08,309.00,45051469.0,1.164765e+09,0.038679
2670,2022-07-13,309.00,313.84,296.77,309.88,34106695.0,1.164765e+09,0.029282
2671,2022-07-14,308.91,323.00,307.00,323.00,27248936.0,1.164765e+09,0.023394
2672,2022-07-15,335.00,349.89,333.00,338.19,44450784.0,1.164765e+09,0.038163